<template>
  <div class="hello">
    <v-row>
      <v-col cols="12" md="6">
        <h1 style="margin-left: 35%; margin-top: 27%; font-size: 80px;">Welcome</h1>
        <h3 style="margin-left: 30%; margin-top: 5px; font-family: Papyrus;">Send Message To Your Crush, I Can Protect You</h3>
        <v-btn style="margin-left: 45%; margin-top: 20px;" @click="Form()">Lets Start!</v-btn>
      </v-col>
      <v-col cols="12" md="6">
        <v-img  style="margin-left: 30%; width: 70%; margin-top: 10%;" :src="require('../assets/imgdashboard.png')"></v-img>
      </v-col>
    </v-row>
    <v-row>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  
  methods: {
    Form() {
      this.$router.push('/form-message')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

h1 {
  font-family: Blippo;
  text-align: justify;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}


</style>
