<template>
  <div class="form">
    <v-row>
      <v-col cols="12" md="6">
        <h3 style="margin-left: 13%; margin-top:10%;">Di isi dulu yuk form nya</h3>
        <v-card style="margin-left: 10%; margin-top: 10px; box-shadow: 5px 5px 10px 5px #cbcb;" width="500">
          <v-card-text>
            <v-row>
              <v-col cols="12" md="5" style="margin-top: 5px;">
                <label>Nama Kamu</label>
              </v-col>
              <v-col cols="12" md="7">
                <v-text-field outlined dense></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="5" style="margin-top: 5px;">
                <label>Email Kamu</label>
              </v-col>
              <v-col cols="12" md="7">
                <v-text-field outlined dense></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="5" style="margin-top: 5px;">
                <label>Email Penerima</label>
              </v-col>
              <v-col cols="12" md="7">
                <v-text-field outlined dense></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="5" style="margin-top: 5px;">
                <label>Pesan Yang Mau Kamu Tulis</label>
              </v-col>
              <v-col cols="12" md="7">
                <v-textarea outlined dense></v-textarea>
              </v-col>
            </v-row>
            <v-btn style="margin-left: 84%; background-color: rgb(198, 87, 3); color: white;">Send</v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-img  style="margin-left: 33%; width: 67%; margin-top: 10%;" :src="require('../assets/imgdashboard.png')"></v-img>
      </v-col>
    </v-row>
  </div>
</template>