<template>
  <v-main>
    <router-view></router-view>
  </v-main>
</template>

<script>
// import HelloWorld from './components/Dashboard.vue';

export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
    //
  }),
};
</script>
